.root {
  position: relative;
  letter-spacing:0.05em;

}
/* .wrapper {

} */
.input{
  /* line-height: 155%; */
  color: var(--mantine-color-neutral-9)!important;
  border-color: var(--mantine-color-gray-4)!important;
  /* font-weight: 600; */
  border-radius: 0!important;
  font-size: 14px!important;
  width: 100%!important;
  height: 42px!important;
  padding-inline: 8px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  font-family: mc!important;
  border-width: 2px!important;
  box-sizing: border-box!important;
}
/* .input:hover{
  border-color: var(--mantine-color-jade-3)!important;

} */
.input:hover:not(:focus-within){
  border-color: var(--mantine-color-jade-3)!important;

}

input:focus-within{
  border-color: var(--mantine-color-jade-6)!important;
}


.label {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: inherit;
  left: var(--mantine-spacing-sm);
  pointer-events: none;
  transition:
    transform 150ms ease,
    font-size 150ms ease,
    color 150ms ease;
  
}

/* When label should float */
.label[data-floating='true'] {
  opacity: 1;
  transform: translate(calc(var(--mantine-spacing-sm) * -1), -16px);
  font-size: 12px!important;
  /* color: var(--mantine-color-jade-8); */

}

/* Required asterisk */
.required {
  transition: opacity 150ms ease;
  opacity: 0;
}

.label[data-floating='true'] .required {
  opacity: 1;
  
}

/* Placeholder color transitions */
.input::placeholder {
  transition: color 150ms ease;
  /* color: transparent; */
  /* font-family: 'mine';
  src:  url('../fonts/Minecraftia-Regular.ttf'); */
}


.input[data-floating='true']::placeholder {
  /* color: var(--mantine-color-gray-0); */
  
}

/* Optional: dark mode override */
[data-mantine-color-scheme='light'] .label {
  color: var(--mantine-color-jade-7);

}

[data-mantine-color-scheme='light'] .label[data-floating='true'] {
  color: gray.1!important;
}
