@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

img{
  display: block;
  max-width: 100%;
}
@font-face {
  font-family: 'source-code-pro';
  src:  url('./fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf');
}
/* @font-face {
  font-family: 'source-code-pro';
  src:  url('./fonts/Source_Code_Pro/static/SourceCodePro-Medium.ttf');
} */
@font-face {
  font-family: 'mine';
  src:  url('./fonts/Minecraftia-Regular.ttf');
}
@font-face {
  font-family: 'mc';
  src:  url('./fonts/Mojang-Regular.ttf');
}
@font-face {
  font-family: 'mc-bold';
  src:  url('./fonts/Mojang-Bold.ttf');
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 8%;
  height: 100%;  
  background-color: var(--jade-0);

}
#root{
  height:100%;
  width:100%;
  position:relative;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  padding-top: 64px;
  font-family: 'mc';
  background-color: var(--jade-0);
  overflow: auto;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8ecebd;
  color: var(--jade-9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position:absolute;
  top:0;
  left:0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('nnoise2.svg');   */
  background-repeat: repeat; /* Ensures the pattern repeats */
  background-size: contain; /* Adjust if needed */
  background-position: top left; /* Aligns the pattern */
  background-blend-mode: overlay;
  opacity: 1;
  z-index: -10;
  height: 100%; /* This height should now inherit from the parent */
  min-height: 100vh; /* Ensure it fills the viewport initially */
  width: 100%;
  min-width: 100vw;



}

.navbar{
  font-family: 'mc';
  position: fixed;
  padding-inline: 14px;
  display: flex;
  z-index: 20;
  background-color: var(--jade-0);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  color: var(--jade-8);
  border: var(--jade-1) 1px solid;
  font-size: 20px;
}
.nav-element{
  font-size: 24px;
}


.landing{
  height: fit-content;
  position: absolute; top: 0; left: 0;  width: 100%;
  display: flex;
  flex-direction: column;
}

.landing-child-1{
  height: 100vh;
  background-color: var(--jade-0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.hero-container{
  background-color: var(--jade-1);
  height: 80%;
  width: 90%;
  box-shadow: inset 0 0 19px #0f373297;
  background-image: url('./assets/clouds.png');
  display: flex;
  

}
.hero-title-container{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 64px;
}
.hero-title{
  position: relative;
  font-size: 36px;
  font-family: 'mc-bold';
  color: var(--jade-9);
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;

}
.hero-title span{
  mix-blend-mode: color-burn;

}
.hero-title-child{
  mix-blend-mode: normal;

  z-index: 10;
  font-size: 36px;
  font-family: 'mc-bold';
  color: var(--jade-9);
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  opacity: 40%;
  left: 0;
}
.hero-subtitle{
  font-size: 16px;
  color: var(--jade-7);
}
.book{
  display: flex;
  align-items: center;
  background-image: url(assets/book.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
  height: 100%;
  width: 40%;
}
.book a{
  color: var(--jade-0);
  font-size: 24px;
  font-family: 'mc-bold';
  width: 50%;
  padding-top: 150px;
  padding-left: 110px;
}

.book a:hover{
  color: var(--jade-4);
}

.landing-child-2{
  width: 100%;
  height: 60vh;
  background-color: var(--jade-9);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landing-child-2 .hero-title{
  
  background-image: url(assets/cloverpix.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
  font-size: 30px;
  color: var(--jade-0);
  height: 40%;
  padding-top: 80px;
  width: 100%;
  text-align:center;
}

.feature-container{
  display: flex;
  flex-direction: row;
  width: 95%;

  gap: 14px;
}
.feature{
  border: 2px solid var(--jade-8);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 150px;
  height: fit-content;
  padding: 14px;
}
.feature-title{
  font-family: 'mc-bold';
  font-size: 16px;
  color: var(--jade-0);
}
.feature-body{
  font-size: 14px;
  color: var(--jade-1);
  line-height: 200%;
}

.landing-child-3{
  width: 100%;
  height: 100vh;
  background-color: var(--jade-1);
  background-image: url(assets/flowchart.svg);
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}


.diary-container{
  display: flex;
  /* aspect-ratio: 30 / 47; */

  position: relative;
  width: 75vw; 
  /* max-width: 1000px;                 */
  aspect-ratio: 47 / 30;   
  margin: 0 auto;
  /* background-image: url(./assets/opendiary.png); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}
.book-image {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
.calendar-container{
  /* border: #000000 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* background-color: red; */
  position: absolute;

  width: 36.25%;
  height: 66.5%;
  top: 16.7%;      /* adjust if needed */
  left: 8.5%;
  pointer-events: auto;
}




.mood-box {
  width: 100%;
  padding: 10px 8px;
  /* background: rgba(149, 195, 181, 0.15);  */
  /* font-family: 'source-code-pro'; */
  font-size: 14px;
  color: #0f4c45;
}

.mood-row,
.sentiment-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.mood-label,
.sentiment-label {
  width: 90px;
  /* font-weight: bold; */
}

/* .mood-value {
  font-size: 1.2rem;
} */

.sentiment-bar {
  flex: 1;
  height: 14px;
  background: #d9eee6;      /* light pastel green */
  border: 2px solid #0f4c45;
  margin: 0 16px;
  position: relative;
  overflow: hidden;
}

.sentiment-fill {
  height: 100%;
  background: #0f4c45;      /* medium green */
}
.sentiment-number{
  font-size: 12px;
}




.textarea-container{
  /* background-color: red; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 36.25%;
  height: 66.5%;
  top: 16.7%;      /* adjust if needed */
  right: 8.5%;
  pointer-events: auto;
}
.textarea{
  font-family: "source-code-pro";
  width: 100%;
  height: 100%;
  overflow: auto;   /* IMPORTANT: stops auto-expand */
  resize: none;
  min-height: 0;
  min-width: 0;
  background-color: #2a695215; ;
  backdrop-filter: blur(1px);
  font-size: 16px;
  padding: 8px;
  color: var(--jade-9);
  border: 3px solid var(--jade-6);               /* border-none */
  outline: none; 
  margin-bottom: 8px;
}
.textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--jade-7);  /* focus:ring-1 + ring color */
}
.button-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-container p{
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 4px;
  color: var(--jade-9);
}

.button-container span{
  color: var(--jade-8);
}
.textarea-container .login-button{
  margin: 0;
  border: 3px solid var(--jade-6); 
  background-color: hsl(350, 100%, 88%);
  color: var(--gray-9);
  width: 40%;
  right: 0;
}
/* Flower element fixed at the bottom-right */
.flower {
  position: fixed;
  bottom: 20em;
  left: 20em;
  width: 1700px; /* Adjust size as needed */
  height: 1700px; /* Adjust size as needed */
  background-image: url('./assets/halftone_1758699311.png');
  background-size:cover;
  transform-origin: center; /* Rotate around its center */
  transform: translate(-50, 50%) rotate(0deg);
  transform-origin: cover;
  animation: flower-spin infinite 1500s linear;
  z-index: 0; /* Keep behind other content */
  /* filter: blur(15px); */
}
/* .dashboard{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
} */
.centering-flexbox{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 8px;
}

.diarie-title{
  text-align:center;
  font-size: 36px;
  color: var(--jade-7);
  letter-spacing: 8%;

}

.login-container,.signin-container{
  min-width: 0;

  background-color: none;
  border: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  margin: max(auto,8px);
  width: 400px;
  height: 500px;
  padding-inline: 24px;
  padding-block: 32px;
  line-height: 155%;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  border-color: var(--jade-3);
  margin: 0;
}
.login-container{
  height: 400px;
}
.login-title,.signin-title{
  font-size: 20px;
  text-align: center;
  color: var(--jade-6);
}
#heatmap-tooltip{
  z-index: 100;
}
/* .login-form-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.login-form,.signin-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-input,.signin-input{
  height: 42px;
  width: 100%;
  font-size: 14px;
  padding-inline: 8px;
  padding-top: 12px;
  padding-bottom: 4px;
  color: black;
  border-width: 2px;
  box-sizing: border-box;
  border-color: #000000;

}

.login-button,.signin-button{
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  background-color: var(--jade-6);
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-width: 2px;
  box-sizing: border-box;
  border-color: var(--jade-7);
  color: var(--jade-0);
  margin-bottom: 4px;
}
.login-button:hover:not(:focus-within),
.signin-button:hover:not(:focus-within){
  background-color: var(--jade-5);

}
.login-button:focus-within,
.signin-button:focus-within{
  background-color: var(--jade-7);

}
.form-text{
  font-size: 12px;
  text-align: center;
  color: var(--gray-6);
  
}
.form-redirect{
  color: var(--jade-6);
}
.form-redirect:hover{
  color: var(--jade-4);
}

input::placeholder {
  color: #9ca3af;      /* Tailwind gray-400 */
  font-size: 0.9rem;
  font-weight: 500;
}

/* needs work */
input:focus { 
  outline:rgba(0, 0, 0, 0.15); 
} 

.dashboard{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  box-sizing: border-box;
  margin-inline: 6em;
  margin-block: 3em;
  height: max-content;
}
.dashboard-child-1,.dashboard-child-2{
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-color: var(--jade-2);
  gap: 20px;
  /* border: solid 2px; */
  /* height: 250px; */
}
.dashboard-child-2{
  height: fit-content;
  border: var(--jade-1) solid 1px;
  flex-direction: column;
  justify-content:flex-start;
  gap: 0;
  z-index: 10;
  background-color: var(--jade-0);
  padding-bottom: 16px;
  overflow-x: auto;

}

/* user greeting+word count parent div */
.dashboard-child-1-1{
  /* border: var(--jade-1) solid 2px; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 300px;
  min-width: fit-content;
  height: 250px;
  gap: 16px;
}
/*user greeting div */
.greeting{
  font-size: 24px;
  color: var(--gray-7);
  display: flex;
  align-items: center;
  justify-content:baseline;
  height: 100%;
  padding-inline-start: 16px;
  border: var(--jade-1) solid 1px;
  background-color: #c3fff029;
}
.greeting span{
  color: var(--jade-6);
}
/* word count div */
/* check wordcount data later */
.word-count{
  background-color: var(--jade-0);
  position: relative;
  border: var(--jade-1) solid 1px;
  height: 150px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 16px;
  color: var(--gray-6);
  z-index: 10;
}
.wordcount-data span,.dashboard-child-2 span{
  font-size: 36px;
  font-family: mc-bold;
  color: var(--jade-8);
}
.word-count-title{
  color: var(--gray-7);
}

/* streak */
/* .streak-container{
  display: flex;
  align-items: center;
  align-content: center;
  width: max-content;
  height: 100%;

} */

.streak{
  display: flex;
  justify-content: center;
  border: var(--jade-1) solid 1px;
  position: relative;
  font-family: mc-bold;
  background-color: #c3fff029;
  color: var(--jade-6);
  min-width:250px;
  min-height:250px; 
  text-align: center;
  z-index: 10;
  padding: 12px;
  -webkit-text-stroke: 1px var(--jade-2);
}
.streak p{
  width: 90%;
  height: 90%;
  background-image: url('./assets/IDKCLOVE.png');
  background-size: cover;
  align-self: center;
  color: var(--jade-9);
  font-weight:600;
  font-size: 36px;
}

.heatmap-header-container{
  padding-inline: 16px;
  padding-top: 16px;
  z-index: 10;
  position: sticky;
  left: 0;
}
.heatmap-header{
  font-size: 14px;
  color: var(--gray-6);

}
.heatmap{
  align-self: center;
  width: 100%;
}

.mood-container{ 
  z-index: 10;
  border: var(--jade-1) solid 1px;
  background-color: var(--jade-0);
  height: 250px;
  width: 245px;
  padding: 16px;
  flex-grow: 1;

}
.dashboard-fill{
  z-index: 10;
  border: var(--jade-1) solid 2px;
  height: fit-content;
  width: 160px;

}

.check{
  background-image: url('./assets/cloverpix.png');
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
  background-size:contain;
  width:inherit;
  height:inherit;
  position:absolute;
  z-index: 0;
}
.core-emotions{
  font-size: 14px;
  /* backdrop-filter: blur(8px); */
  justify-content: space-between;
  color: var(--gray-9);
  font-family: mc;
  font-weight: 400;
  display: grid;
  grid-template-columns:
  repeat(3, 1fr);
}
.emotion-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.core-emotion{

  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin: 16px;
  
}
.core-angry{
  background-image: url('./assets/redorb.png');
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}
.core-sad{
  background-image: url('./assets/blueorb.png');
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}
.core-happy{
  background-image: url('./assets/yelloworb.png');
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}
.core-excited{
  background-image: url('./assets/orangeorb.png');
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}.core-anxious{
  background-image: url('./assets/greenorb.png');
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}
.core-neutral{
  background-image: url('./assets/purpleorb.png');
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}

/* Rotation animation */
@keyframes flower-spin {
  from {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, 50%) rotate(360deg);
  }
}
@keyframes clover-spin {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}
