@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

img{
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: 'mine';
  src:  url('./fonts/Minecraftia-Regular.ttf');
}
@font-face {
  font-family: 'mc';
  src:  url('./fonts/Mojang-Regular.ttf');
}
@font-face {
  font-family: 'mc-bold';
  src:  url('./fonts/Mojang-Bold.ttf');
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 8%;
  height: 100%;  
  background-color: var(--jade-0);

}
#root{
  height:100%;
  width:100%;
  position:relative;
  font-family: 'mc';
  background-color: var(--jade-0);

}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8ecebd;
  color: var(--gray-0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position:absolute;
  top:0;
  left:0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('nnoise2.svg');   */
  background-repeat: repeat; /* Ensures the pattern repeats */
  background-size: contain; /* Adjust if needed */
  background-position: top left; /* Aligns the pattern */
  background-blend-mode: overlay;
  opacity: 1;
  z-index: -10;
  height: 100%; /* This height should now inherit from the parent */
  min-height: 100vh; /* Ensure it fills the viewport initially */
  width: 100%;
  min-width: 100vw;



}



/* Flower element fixed at the bottom-right */
.flower {
  position: fixed;
  bottom: 20em;
  left: 20em;
  width: 1700px; /* Adjust size as needed */
  height: 1700px; /* Adjust size as needed */
  background-image: url('./assets/halftone_1758699311.png');
  background-size:cover;
  transform-origin: center; /* Rotate around its center */
  transform: translate(-50, 50%) rotate(0deg);
  transform-origin: cover;
  animation: flower-spin infinite 1500s linear;
  z-index: 0; /* Keep behind other content */
  /* filter: blur(15px); */
}
/* .dashboard{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
} */
.centering-flexbox{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 8px;
}

.diarie-title{
  text-align:center;
  font-size: 36px;
  color: var(--jade-7);
  letter-spacing: 8%;

}

.login-container,.signin-container{
  min-width: 0;

  background-color: none;
  border: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  margin: max(auto,8px);
  width: 400px;
  height: 500px;
  padding-inline: 24px;
  padding-block: 32px;
  line-height: 155%;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  border-color: var(--jade-3);
  margin: 0;
}
.login-container{
  height: 400px;
}
.login-title,.signin-title{
  font-size: 20px;
  text-align: center;
  color: var(--jade-6);
}
#heatmap-tooltip{
  z-index: 100;
}
/* .login-form-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.login-form,.signin-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-input,.signin-input{
  height: 42px;
  width: 100%;
  font-size: 14px;
  padding-inline: 8px;
  padding-top: 12px;
  padding-bottom: 4px;
  color: black;
  border-width: 2px;
  box-sizing: border-box;
  border-color: #000000;

}

.login-button,.signin-button{
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  background-color: var(--jade-6);
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-width: 2px;
  box-sizing: border-box;
  border-color: var(--jade-7);
  color: var(--jade-0);
  margin-bottom: 4px;
}
.login-button:hover:not(:focus-within),
.signin-button:hover:not(:focus-within){
  background-color: var(--jade-5);

}
.login-button:focus-within,
.signin-button:focus-within{
  background-color: var(--jade-7);

}
.form-text{
  font-size: 12px;
  text-align: center;
  color: var(--gray-6);
  
}
.form-redirect{
  color: var(--jade-6);
}
.form-redirect:hover{
  color: var(--jade-4);
}

input::placeholder {
  color: #9ca3af;      /* Tailwind gray-400 */
  font-size: 0.9rem;
  font-weight: 500;
}

/* needs work */
input:focus { 
  outline:rgba(0, 0, 0, 0.15); 
} 












.dashboard{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  box-sizing: border-box;
  margin-inline: 6em;
  margin-block: 3em;
  height: 100%;
}
.dashboard-child-1,.dashboard-child-2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-color: var(--jade-2);
  gap: 20px;
  /* border: solid 2px; */
  min-height: 250px;
}
.dashboard-child-2{
  height: fit-content;
  border: var(--jade-1) solid 1px;
  flex-direction: column;
  justify-content:flex-start;
  gap: 0;
  z-index: 10;
  background-color: var(--jade-0);
  padding-bottom: 16px;
}

/* user greeting+word count parent div */
.dashboard-child-1-1{
  /* border: var(--jade-1) solid 2px; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 300px;
  height: 250px;
  gap: 16px;
}
/*user greeting div */
.greeting{
  font-size: 24px;
  color: var(--gray-7);
  display: flex;
  align-items: center;
  justify-content:baseline;
  height: 100%;
  padding-inline-start: 16px;
  border: var(--jade-1) solid 1px;
  background-color: #c0ffee29;
}
.greeting span{
  color: var(--jade-6);
}
/* word count div */
/* check wordcount data later */
.word-count{
  background-color: var(--jade-0);
  position: relative;
  border: var(--jade-1) solid 1px;
  height: 150px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 16px;
  color: var(--gray-6);
  z-index: 10;
}
.wordcount-data span,.dashboard-child-2 span{
  font-size: 36px;
  font-family: mc-bold;
  color: var(--jade-8);
}
.word-count-title{
  color: var(--gray-7);
}

/* streak */
.streak{

  border: var(--jade-1) solid 1px;
  position: relative;
  font-family: mc-bold;
  background-image: url('./assets/dan.png');
  background-size: cover;
  background-color: var(--jade-2);
  color: var(--jade-8);
  min-width:250px;
  min-height:250px; 
  padding: 16px;
  z-index: 10;
  /* background-color:rgba(149, 195, 181, 0.04); */
  /* animation: clover-spin infinite 150s linear; */

}

.heatmap-header-container{
  padding-inline: 16px;
  padding-top: 16px;
  z-index: 10;
}
.heatmap-header{
  font-size: 14px;
  color: var(--gray-6);
}
.heatmap{
  align-self: center;
}

.mood-container{ 
  z-index: 10;
  border: var(--jade-1) solid 1px;
  background-color: var(--jade-0);
  height: 250px;
  width: 245px;
  padding: 16px;
  flex-grow: 1;

}
.dashboard-fill{
  z-index: 10;
  border: var(--jade-1) solid 2px;
  height: auto;
  width: 160px;

}

.check{
  background-image: url('./assets/clover.png');
  background-size:contain;
  width:inherit;
  height:inherit;
  position:absolute;
  z-index: 0;
}
.core-emotions{
  font-size: 14px;
  /* backdrop-filter: blur(8px); */
  justify-content: space-between;
  color: var(--gray-9);
  font-family: mc;
  font-weight: 400;
  display: grid;
  grid-template-columns:
  repeat(3, 1fr);
}
.emotion-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.core-emotion{

  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin: 16px;
}
.core-angry{
  background-image: url('orb0.png');
}
.core-sad{
  background-image: url('orb3.png');
}
.core-happy{
  background-image: url('happy.png');
}
.core-excited{
  background-image: url('excited.png');
}.core-anxious{
  background-image: url('anxious.png');
}

.core-neutral{
  background-image: url('neutral.png');
}

/* Rotation animation */
@keyframes flower-spin {
  from {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, 50%) rotate(360deg);
  }
}
@keyframes clover-spin {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}
