@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: 'mine';
  src:  url('./fonts/Minecraftia-Regular.ttf');
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
#root{
  height:auto;
  min-height:100vh;
  width:100%;
  position:relative;

}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'mine', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17221f;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position:absolute;
  top:0;
  left:0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('nnoise2.svg');   */
  background-repeat: repeat; /* Ensures the pattern repeats */
  background-size: contain; /* Adjust if needed */
  background-position: top left; /* Aligns the pattern */
  background-blend-mode: overlay;
  opacity: 1;
  z-index: -10;
  height: 100%; /* This height should now inherit from the parent */
  min-height: 100vh; /* Ensure it fills the viewport initially */
  width: 100%;
  min-width: 100vw;



}



/* Flower element fixed at the bottom-right */
.flower {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1700px; /* Adjust size as needed */
  height: 1700px; /* Adjust size as needed */
  background-image: url('./assets/halftone_1758699669.png');
  background-size:cover;
  transform-origin: center; /* Rotate around its center */
  transform: translate(-50%, 50%) rotate(0deg);
  transform-origin: cover;
  animation: flower-spin infinite 1500s linear;
  z-index: -20; /* Keep behind other content */
  /* filter: blur(15px); */
}
/* .dashboard{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
} */
.centering-flexbox{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.login-container,.signin-container{
  background-color: rgba(73, 73, 73, 0.548);
  border: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  margin: auto;
  width: 400px;
  height: 400px;
  padding-inline: 24px;
  padding-block: 32px;
  line-height: 155%;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  border-color: #000000;
}
.login-title,signin-container{
  font-size: 16px;
}
/* .login-form-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.login-form,.signin-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-input,.signin-input{
  height: 42px;
  width: 100%;
  font-size: 14px;
  padding-inline: 8px;
  padding-top: 12px;
  padding-bottom: 4px;
  color: black;
  border-width: 2px;
  box-sizing: border-box;
  border-color: #000000;

}
.login-button,.signin-button{
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  background-color: green;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 4px;
  text-align: center;
  border-width: 2px;
  box-sizing: border-box;
  border-color: #000000;

}

.form-text{
  font-size: 12px;
  text-align: center;

}
.form-redirect{
  color: rgb(147, 255, 147);
}

input::placeholder {
  color: #9ca3af;      /* Tailwind gray-400 */
  font-size: 0.9rem;
  font-weight: 500;
}

/* needs work */
input:focus { 
  outline:rgba(0, 0, 0, 0.15); 
} 








.dashboard{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(5,1fr) ;
  grid-template-rows: 150px 150px;
  height: auto;
  max-width: 100%;
  box-sizing: border-box;                 /* Include border in dimensions */
}


.react-calendar-heatmap {
  position: relative;
  width: 40rem;
  height: 100%;
}

.react-calendar-heatmap .cell:hover::after {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
}
.streak{
  position: relative;
  min-width: 0;
  min-height: 0;
  background-image: url('./assets/dan.png');
  background-size: cover;
  
  width:90%;
  height:100%; 
  grid-row: 1;
  grid-column:5;
  z-index: 10;
  background-color:rgba(149, 195, 181, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  /* animation: clover-spin infinite 150s linear; */

}
.word-count{
  width:15rem;
  height:15rem;
  grid-row: 2;
  grid-column: 1;
  z-index: 10;
  background-color:rgba(149, 195, 181, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 5px;
}
.mood-container{
  grid-row: 2;
  grid-column: 2/4;
}
.check{
  background-image: url('./assets/clover.png');
  background-size:contain;
  width:inherit;
  height:inherit;
  position:absolute;
  z-index: 0;
}
.core-emotions{
  font-size: x-small;
  display: flex;
  flex-wrap:wrap;
  width:30rem;
  height:15rem;
  z-index: 10;
  background-color:rgba(149, 195, 181, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  resize: vertical;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
  font-family: "Indie Flower", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing:1.5px;
}
.core-emotion{
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  padding: 15px;
  margin: 10px;
}
.core-angry{
  background-image: url('orb0.png');
}
.core-sad{
  background-image: url('orb3.png');
}
.core-happy{
  background-image: url('happy.png');
}
.core-excited{
  background-image: url('excited.png');
}.core-anxious{
  background-image: url('anxious.png');
}

.core-neutral{
  background-image: url('neutral.png');
}

/* Rotation animation */
@keyframes flower-spin {
  from {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, 50%) rotate(360deg);
  }
}
@keyframes clover-spin {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}
